
h1{
    font-family: sans-serif; color: black;
}

p{
    font-family: sans-serif; color: black;
}

a{
    font-family: sans-serif; color: black;
}

h2{
    font-family: sans-serif; color: black;
}


body{
    background-color: white;
}

section a {
    text-decoration: none;
}
