
h1{
    font-family: 'dosis', sans-serif; color: rgb(22, 163, 206);
}

p{
    font-family: 'dosis', sans-serif; color: black;
}

a{
    font-family: 'dosis', sans-serif; color: black;
}

h2{
    font-family: 'dosis', sans-serif; color: black;
}


body{
    background-color: white;
    text-align: center;
    margin-top: 150px;
}

section a {
    text-decoration: none;
}
