
h1{
    font-family: 'dosis', sans-serif; color: rgb(22, 163, 206);
}

p{
    font-family: 'dosis', sans-serif; color: black;
}

a{
    font-family: 'dosis', sans-serif; color: black;
}

h2{
    font-family: 'dosis', sans-serif; color: black;
}

body{
    background-color: rgb(208, 241, 252);
    
    margin-top: 150px;
    text-align: center;

}

section a {
    text-decoration: none;
}

h1:hover {
    color: rgb(16, 133, 168);
    transition: color 0.3s;
}

a:hover{
    color: rgb(16, 133, 168);
    transition: color 0.3s;

}

p:hover{
    color: rgb(16, 133, 168);
    transition: color 0.3s;
}

h2:hover{
    color: red;
    transition: color 0.3s;
}

p{
    transition: transform 0.4s ease-in-out;
}

p:hover {
    transform: scale(1.2);
}

a{
    transition: transform 0.4s ease-in-out;
}

a:hover {
    transform: scale(1.2);
}

h2{
    transition: transform 0.4s ease-in-out;
}

h2:hover {
    transform: scale(1.2);
}

h1{
    transition: transform 0.4s ease-in-out;
}

h1:hover {
    transform: scale(1.2);
}