
h1{
    font-family: 'dosis', sans-serif; color: rgb(22, 163, 206);
}

p{
    font-family: 'dosis', sans-serif; color: black;
}

a{
    font-family: 'dosis', sans-serif; color: black;
}

h2{
    font-family: 'dosis', sans-serif; color: black;
}

body{
    background-color: rgb(208, 241, 252);
}

section a {
    text-decoration: none;
}

h1:hover {
    color: rgb(16, 133, 168);
    transition: color 0.3s;
}

a:hover{
    color: rgb(16, 133, 168);
    transition: color 0.3s;
}

p:hover{
    color: rgb(16, 133, 168);
    transition: color 0.3s;
}

h2:hover{
    color: red;
    transition: color 0.3s;
}

p{
    transition: transform 0.4s ease-in-out;
}

p:hover {
    transform: scale(1.2);
}

a{
    transition: transform 0.4s ease-in-out;
}

a:hover {
    transform: scale(1.2);
}

h2{
    transition: transform 0.4s ease-in-out;
}

h2:hover {
    transform: scale(1.2);
}

h1{
    transition: transform 0.4s ease-in-out;
}

h1:hover {
    transform: scale(1.2);
}

h1{
    text-align: center;
}

.navbar ul{
    list-style-type: none;
    background-color: rgb(22, 163, 206);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a {
    text-align: center;
    text-decoration: none;
    padding: 15px;
    display: block;
    color: white;
}

.navbar a:hover{
    color: red;
}

.navbar li{
    float: left;
}

main {
    text-align: center;
}