body {
    background-color: black;
}

body p {
    color: white;
    font-family: IBM Plex Sans;
}

body h1 {
    color: white;
    font-family: IBM Plex Sans;
}

body h2 {
    color: white;
    font-family: IBM Plex Sans;
}


.navbar ul{
    list-style-type: none;
    background-color: rgb(1, 1, 20);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    font-family: IBM Plex Sans;
}

.navbar a {
    text-align: center;
    text-decoration: none;
    padding: 15px;
    display: block;
    color: white;
    font-family: IBM Plex Sans;
}

.navbar a:hover{
    color: red;
}

/* Navbar stuff */
.navbar li{
    float: left;
}

.navbar .dropdown button{
    text-decoration: none;
    border: none;
    float: left;
    padding: 15px;
    background-color: rgb(3, 3, 40);
    color: white;
}

.dropdown button:hover{
    color: red;
}

/* Apply the stuff to the boringstuff class (this is the copyright and stuff */
.boringstuff {
    text-align: center;
    background-color: rgb(1, 1, 17);
    color: white;
}


/*Change to colour to white and font family to IBM plex sans to all h3 elements */
h3 {
    font-family: IBM Plex Sans;
    color: white;
}

/* In the main section apple padding and textalign center */
main {
    padding: 110px;
    margin-left: 300px;
}

/* Change the font for all a elements in the main section */
main a {
    font-family: IBM plex Sans;
}

/*Create images better for mobile*/
img {
    max-width: 100%;
    height: auto;
}

.content a{
    display: block;
    color: white;
    text-decoration: none;
    font-family: IBM plex Sans;
}

.content {
    position: absolute;
    background-color: rgb(2, 2, 30);
    color: white;
    text-decoration: none;
    padding: 15px;
    display: none;
}

.dropdown:hover .content{
    display: block;
}

.setuplist {
    color: white;
    font-family: IBM plex Sans;
}
