body {
    background-color: rgb(7, 7, 66);
}

body p {
    color: white;
    font-family: IBM Plex Sans;
}

body h1 {
    color: white;
    font-family: IBM Plex Sans;
}

body h1:hover {
    color: red;
}

body h2 {
    color: white;
    font-family: IBM Plex Sans;
}

body h2:hover{
    color: red;
}

.navbar ul{
    list-style-type: none;
    background-color: rgb(22, 22, 116);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    font-family: IBM Plex Sans;
}

.navbar a {
    text-align: center;
    text-decoration: none;
    padding: 15px;
    display: block;
    color: white;
    font-family: IBM Plex Sans;
    transition: transform 0.4s ease-in-out;
}

.navbar a:hover{
    color: red;
    transform: scale(1.2);

}

.navbar li{
    float: left;
}

.boringstuff {
    text-align: center;
    background-color: rgb(4, 4, 48);
    color: white;
}

/* Center all the icons the the aboutme class section */
.aboutme h2{
    text-align: center;
}

/* Center all the icons in the .center class */
.center {
    text-align: center;
}

/*Change to colour to white and font family to IBM plex sans to all h3 elements */
h3 {
    font-family: IBM Plex Sans;
    color: white;
}

/* Change any h3 elemnts to red on hover */
h3:hover{
    font-family: IBM Plex Sans;
    color: red;
}

/* In the class headers text-align them to center */
.headers {
    text-align: center;
}

/* In the main section apple padding and textalign center */
main {
    padding: 100px;
    text-align: center;
}

/* In the icons claass change the text colour to white and remove text decoration */
.icons a {
    text-decoration: none;
    color: white;
}

/* In the icons class change the colour to red and cursor to pointer on hover */
.icons a:hover {
    color: red; 
    cursor: pointer;
}

/* Change the font for all a elements in the main section */
main a {
    font-family: IBM plex Sans;
}

/*Change colour of text in the skills class section. */
.skills{
    color: white;
}

/* Change the settings of a elements in the contact section */
.contact a{
    text-decoration: none;
    color: white;
}

/* Change the colour of a elements in the contact section on hover */
.contact a:hover{
    color: red;
}

/* Change the colour of p elements on hover */
p:hover{
    color: rgb(231, 206, 206);
}

/* I dont even think this is needed any more but im keeping it, because I dont want anything to go wrong if I remove it. I was going to be used to rounf corners of images*/
.roundedimage{
    border-radius: 10px 20px 30px 40px;
}

/*Apply padding to all the items in "What I love section"*/
.coding {
    padding: 20px;
}

.food {
    padding: 20px;
}

.tech {
    padding: 20px;
}

.whatilove-text {
    padding: 20px;
}

/*Create images better for mobile*/
img {
    max-width: 100%;
    height: auto;
}
